*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
.plo {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    
}
.plo nav {
    display: flex;
    justify-content: right;
    align-items: center;
    max-width: 1200px;

}
.plo nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}
.plo nav a:hover {
    text-decoration: none;
    color: #ff6347;
    border-bottom: 2px;
    border-color: #ff6347;
    
}
.image {
    text-align: center;
    margin: 20px 0;
}
header {
    text-align: center;
    padding: 20px 0;
}
header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}
header p {
    font-size: 18px;
    color: #666;
}
.container {
    width: 80%;
    margin: 0 auto;
}
section {
    margin: 20px 0;
}
section h2 {
    font-size: 28px;
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}
section ul {
    list-style-type: disc;
    margin-left: 20px;
}
section ul li {
    margin-bottom: 5px;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer p {
    margin: 0;
    font-size: 14px;
}
.form{
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.form input, .form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.buttons input {
    padding: 10px 15px;
    background-color: #7c7575;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.buttons input:hover {
    background-color: #131111;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.project {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.project h3 {
    margin-bottom: 10px;
}
.project p {
    margin-bottom: 15px;
}